.ModelConfiguratorComponent-table
    display: flex
    flex-direction: column
    margin: 0 auto
    border-collapse: collapse
    margin-bottom: 20px

.ModelConfiguratorComponent-header th
    border-bottom: 1px solid lightgray