.ConfiguratorPart-entry
    margin-bottom: 0.5rem
    td
        padding: 0 3px
    
    .ConfiguratorPart-part
        display: flex
        flex-direction: row
        align-items: center
        margin-right: 1rem
    
    .ConfiguratorPart-surface-treatments
        display: flex
        flex-direction: row
        align-items: center
        
        .ConfiguratorPart-surface-treatment
            display: flex
            flex-direction: row
            padding: 0 3px