header
  font-size: 3rem
  text-align: center
  margin-top: 0.5rem
  position: relative

footer
  text-align: center
  background-color: #cccccc
  padding: 2rem 0
  a
    text-decoration: none
    color: black

.App
  display: grid
  grid-template-rows: auto 1fr auto
  min-height: 100vh

.App-content
  padding: 2rem

.App-local-mode
  display: block
  font-weight: bold
  font-size: 1.5rem

.App-client-container
  position: absolute
  top: 0
  right: 10px

.logo
  background-image: url("../public/widgeco_logo.jpg")
  display: inline-block
  width: 300px
  height: 54px
  background-repeat: no-repeat
  background-size: contain
  margin-top: 35px
