.ModelComponent-model
    display: grid
    place-items: center
    grid-template-areas: "modelPart"

.ModelComponent-model.ModelComponent-size-small
    cursor: pointer

.ModelComponent-model.ModelComponent-size-small:hover
    background-color: lightgrey

.ModelComponent-model.ModelComponent-active
    background-color: lightblue