.ModelComponent-model
    display: grid
    place-items: center
    grid-template-areas: "modelPart"
    cursor: pointer

.ModelComponent-model:hover
    background-color: lightgrey

.ModelComponent-model.active
    background-color: lightblue