.Widget-container
    box-sizing: border-box
    display: flex
    flex-direction: column
    margin: 0 auto
    border-collapse: collapse
    background-color: rgba(0, 150, 0, 0.2)
    border-radius: 10px
    padding: 20px
    width: 95%

    .Widget-total-value
        margin: 5px 0
        display: flex
        flex-direction: row
    
        sub
            margin-top: auto
            margin-bottom: 0

        .Widget-icon
            background-size: 100% 100%
            display: inline-block
            width: 21px
            height: 21px
            margin-right: 10px


        .Co2-icon
            background-image: url("../../assets/widget/co2.png")

        .Water-icon
            background-image: url("../../assets/widget/water.png")

        .Money-icon
            background-image: url("../../assets/widget/money.png")
            
    .Widget-title
        margin: 5px auto
        text-align: center

    .Widget-total
        margin-bottom: 10px

    
