.flex-box
    display: flex
    flex-direction: column
    align-items: left
    width: 230px
    margin: auto
    border: 1px solid black
    border-radius: 8px

h3
    margin-left: 8px
    margin-bottom: 8px
    
.component
    //background: red
    margin:5px

.text-container
    margin: 20px
    margin-bottom: 10px
    margin-top: 0px

table
    width: 100%
    //background: pink
    //padding: 5px

th
    //background: #6dd8f2

td
    //background: #a8e7f4
    //width: 50px
    padding: 5px
