.Configurator-model-carousel
    display: flex
    justify-content: center
    padding-bottom: 5px
    margin: 0 20px
    border-bottom: 2px solid lightgrey

.Configurator-model-container
    display: flex
    flex-direction: column
    border: 1.5px solid lightgray

.Configurator-model-config-widget
    display: flex
    flex-direction: column

.Configurator-container
    $models: 2fr
    $config: 1fr
    display: grid
    grid-template-columns: $models $config
    max-width: 1200px
    margin: auto